
# DATA ANALYTICS ASSIGNMNENT NO#1

# 1. Write a program that takes two numbers (a = 15 , b = 4) and prints their:


- Sum

- Difference

- Product

- Division

- Floor Division

- Modulus

In [ ]:
num1 = 15
num2 = 4
sum = num1 + num2
print("Sum of", num1, " and ", num2, " is: ",sum )
diff = num1 - num2
print("The difference of ", num1, " and ", num2 ," is: ", diff)

div = num1/num2
print("The division of ", num1, ' and ', num2 , ' is ', div)

floor_div = num1//num2
print("The floor division of ", num1, ' and ', num2 , ' is: ', floor_div)

mod = num1%num2
print("The modulus of ", num1, ' and ', num2 , ' is: ', mod)

Sum of 15  and  4  is:  19
The difference of  15  and  4  is:  11
The division of  15  and  4  is  3.75
The floor division of  15  and  4  is:  3
The modulus of  15  and  4  is:  3

# 2.Convert the following:
(num1 = 10, num2 = 5.6, num3 = 4.43)

- Integer to float

- Float to integer

- Float to String

In [ ]:
num1 = 10
num2 = 5.6
num3 = 4.4

num1_float = float(num1)
print("The type of number ",num1_float , " is: ",type(num1_float))


num2_int = int(num2)
print("The type of ", num2_int, ' is: ', type(num2_int))


num3_str = str(num3)
print("The type of number ", num3_str, ' is: ', type(num3_str))

The type of number  10.0  is:  <class 'float'>
The type of  5  is:  <class 'int'>
The type of number  4.4  is:  <class 'str'>

# 3. fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

Print below using indexing:

- The first fruit

- The last fruit (negative indexing)

- The fourth fruit

In [ ]:
fruits = ["apple", "banana", "cherry", "coconut", "pineapple", "mango", "orange"]

print("The first fruit is: ", fruits[0])
print("The last fruit is: ", fruits[-1])
print("The fourth fruit is: ", fruits[3])

The first fruit is:  apple
The last fruit is:  orange
The fourth fruit is:  coconut

# 4. List Slicing

numbers = [10, 20, 30, 40, 50]

Print:

- First three elements

- Last two elements

- Print all elements except the first one

- Print all elements except the last one

- Print the list in reverse using slicing

-  Print every second element

In [ ]:
numbers = [10, 20, 30, 40, 50]
print("First three elements",numbers[0:3])
print("Last two elements",numbers[0:2])
print("Print all elements except the first one",numbers[1:-1])
print("Print all elements except the last one",numbers[0:-2])
print("Print the list in reverse using slicing",numbers[::-1])
print("Every second element",numbers[0::2])

First three elements [10, 20, 30]
Last two elements [10, 20]
Print all elements except the first one [20, 30, 40]
Print all elements except the last one [10, 20, 30]
Print the list in reverse using slicing [50, 40, 30, 20, 10]
Every second element [10, 30, 50]

# 5. Add the number 10 to the end of the list using method.

nums = [1, 2, 3]

In [ ]:
nums = [1, 2, 3]
nums.append(10)
print(nums)

[1, 2, 3, 10]

# 6. Insert the number 99 at index 1 using method.

nums = [1, 2, 3]

In [ ]:
nums = [1, 2, 3]
nums.insert(1,99)
print(nums)

[1, 99, 2, 3]

# 7.  Add the elements of another list [4, 5] to the original list using method

nums = [1, 2, 3]

In [ ]:
nums = [1, 2, 3]
nums.extend([4,5])
nums

[1, 2, 3, 4, 5]

# 8.  Sort the list in ascending order using method

nums = [4, 1, 3, 2]

In [ ]:
nums = [4, 1, 3, 2]
nums.sort()
print(nums)

[1, 2, 3, 4]

# 9. A customer orders several food items. Add the items to a list and then:

order = ["burger", "fries", "coke"]

- Add a new item "ice cream" using append()

- Remove an item "biryani" using remove()

- Show the final order

In [ ]:
order = ["burger", "fries", "coke"]
print("Actual order list: ",order)

order.append("ice cream")
print("Order list after adding ice cream: ",order)


order.append("biryani")
print("Order list after adding biryani: ",order)

order.remove("biryani")
print("Fial order list: ",order)

Actual order list:  ['burger', 'fries', 'coke']
Order list after adding ice cream:  ['burger', 'fries', 'coke', 'ice cream']
Order list after adding biryani:  ['burger', 'fries', 'coke', 'ice cream', 'biryani']
Fial order list:  ['burger', 'fries', 'coke', 'ice cream']

# 10. Track passengers on a bus:

passengers = ["Ali", "Zara", "Ahmed"]


- Insert a new passenger "Sara" at position 2

- Remove passesnger who got off "Zara"

- Reverse the order to show who entered first

In [ ]:
passengers = ["Ali", "Zara", "Ahmed"]
passengers.insert(2, "Sara")

In [ ]:
passengers

['Ali', 'Zara', 'Sara', 'Ahmed']

In [ ]:
passengers.remove('Zara')

In [ ]:
passengers

['Ali', 'Sara', 'Ahmed']