# Nester For Loop

In [3]:
cities = ['karachi', 'hyd', 'isb', 'quetta', 'lhr']
visited_cities = ['isb', 'multan', 'faisalabad', 'quetta', 'peshawar']
print(cities)
visited_cities

['karachi', 'hyd', 'isb', 'quetta', 'lhr']

['isb', 'multan', 'faisalabad', 'quetta', 'peshawar']

In [14]:
#requirment: print every visited_city with every city in city list one by one.
for i in cities:
    for j in visited_cities:
        
        print(i,j)
    print("-*-"*20)

karachi isb
karachi multan
karachi faisalabad
karachi quetta
karachi peshawar
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
hyd isb
hyd multan
hyd faisalabad
hyd quetta
hyd peshawar
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
isb isb
isb multan
isb faisalabad
isb quetta
isb peshawar
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
quetta isb
quetta multan
quetta faisalabad
quetta quetta
quetta peshawar
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
lhr isb
lhr multan
lhr faisalabad
lhr quetta
lhr peshawar
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-

In [19]:
# if city is already visisted inter it in empty list

remaining_cities = []
for city in cities:
    if city in visited_cities:
        print("Already visited")

    else:
        remaining_cities.append(city)
    print(remaining_cities)

['karachi']
['karachi', 'hyd']
Already visited
['karachi', 'hyd']
Already visited
['karachi', 'hyd']
['karachi', 'hyd', 'lhr']

In [21]:
cities_to_visit =[]
user_input = ''

while user_input != 'quit':
    
    city = input("Enter city to visit: ")
    if city == 'quit':
        user_input = 'quit'
    else:
        cities_to_visit.append(city)
print(cities_to_visit)

Enter city to visit:  isb
Enter city to visit:  lhr
Enter city to visit:  khi
Enter city to visit:  quit

['isb', 'lhr', 'khi']

In [46]:
# Define the days and time slots
week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']

# Print the lists (optional)
print(week_days)
print(time_slots)

# Loop through each day and print the schedule
for day in week_days:
    print(f"\nSchedule for {day}:")
    for slot in time_slots:
        print(f"class at {slot}")
    print()

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['9AM-10AM', '10AM-11AM', '11AM-12PM']

Schedule for Monday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM


Schedule for Tuesday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM


Schedule for Wednesday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM


Schedule for Thursday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM


Schedule for Friday:
class at 9AM-10AM
class at 10AM-11AM
class at 11AM-12PM

### F String = f{}

In [37]:
name = 'sara'
name
age = 24

In [38]:
print("My name is :"+ " "+ name+age)

TypeError: can only concatenate str (not "int") to str

In [39]:
print(f"My name is:  {name} and i am {age} years old ")

My name is:  sara and i am 24 years old

In [65]:
# return loop result in a list
num1 = []
numbers = [2,3,4,5]
for num in numbers:
    #print(num ** 2)
    square = num**2
    num1.append(square)
print(num1)

[4, 9, 16, 25]

## List Comprehension

In [68]:
numbers

[2, 3, 4, 5]

In [75]:
num = [number**2 for number in numbers]
num

[4, 9, 16, 25]

In [76]:
Ec_Store_Orders = [
    {"order_id": 1, "customer_name": "Ali", "total_amount": 120, "status": "Completed"},
    {"order_id": 2, "customer_name": "Raheel", "total_amount": 80, "status": "Pending"},
    {"order_id": 3, "customer_name": "Saleem", "total_amount": 150, "status": "Completed"},
    {"order_id": 4, "customer_name": "khushnoor", "total_amount": 95, "status": "Completed"},
    {"order_id": 5, "customer_name": "Alizy", "total_amount": 200, "status": "Pending"},
    {"order_id": 6, "customer_name": "javaid", "total_amount": 85, "status": "Completed"},
    {"order_id": 7, "customer_name": "Talha", "total_amount": 150, "status": "Pending"},
    {"order_id": 8, "customer_name": "Naveed", "total_amount": 200, "status": "Completed"},
]

In [93]:
order_ids = []
for orders in Ec_Store_Orders:
    if orders['total_amount'] > 100 and orders['status'] == 'Completed':
        completed_orders = orders['order_id']
        order_ids.append(completed_orders)
print(order_ids)

[1, 3, 8]

In [95]:
order_ids = [
    orders['order_id']
    for orders in Ec_Store_Orders
    if orders['total_amount'] > 100 and orders['status'] == 'Completed'
]
print(order_ids)

[1, 3, 8]